body {
	background-color:#333333;
	color:white;
}
pre {
	background-color:#555555;
}
a {
	color:#47FF58;
}
a:link {
	color:#47FF58;
}
a:visited {
	color:#47FF58;
}
a:hover {
	color:#47FF58;
}
a:active {
	color:#47FF58;
}
