body {
	background-color:#222222;
	color:white;
}
pre {
	background-color:#555555;
}
a {
	color:#73ef81;
}
a:link {
	color:#73ef81;
}
a:visited {
	color:#73ef81;
}
a:hover {
	color:#73ef81;
}
a:active {
	color:#73ef81;
}
