@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Source+Sans+Pro&display=swap');

body {
	background-color:#333333;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}
pre {
	background-color: #555555;
	max-width: 33%;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 14px;
}
p {
	font-size: 18px;
}
a {
	color:#47FF58;
}
a:link {
	color:#47FF58;
}
a:visited {
	color:#47FF58;
}
a:hover {
	color:#47FF58;
}
a:active {
	color:#47FF58;
}
